.feature {
  margin-top: 60px;
  margin-bottom: 60px;
}

.feature-main-title {
  display: none;
}

.feature-list {
  & .feature-item::before {
    content: "";
    display: inline-flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  }
  & .attention::before {
    content: "";
    background-color: $subBg;
    background-image: url(../img/feature/feature-1.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  & .punctuality::before {
    content: "";
    background-color: $subBg;
    background-image: url(../img/feature/feature-2.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  & .planning::before {
    content: "";
    background-color: $subBg;
    background-image: url(../img/feature/feature-3.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  & .technologies::before {
    content: "";
    background-color: $subBg;
    background-image: url(../img/feature/feature-4.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    & .feature-item:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1230px) {
    & .feature-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature-item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1230px) {
    width: calc((100% - 90px) / 4);
  }
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 10px;

  @media screen and(min-width:768px) {
    text-align: left;
  }
}

.feature-text {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text;
}
