.address {
  @media screen and(min-width:768px) {
    width: 50%;
  }
  @media screen and(min-width:1230px) {
    width: 25%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

.footer-contacts-list {
  margin-bottom: 60px;
}
.footer-contacts-address {
  margin-bottom: 60px;
}

.footer-contacts-address {
  color: $white;

  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.footer-address-text {
}
.footer-contacts-mail {
  display: block;
  margin-bottom: 9px;
}

.footer-mail-text,
.footer-tel-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $subWhite;
}
